<div class="container">
  <h1 class="title is-1">Star Trek Series</h1>
  <p class="subtitle is-3">These are all the Star Trek series we have listed</p>
  <div class="columns is-multiline">
    <% seriess.forEach((series => { %>
      <div class="column is-one-third-desktop is-one-half-mobile">
        <div class="box">
          <div class="container">
            <a href="/seriess/<%= series.id %>"><img class="image" src="<%= series.image %>" alt="<%= series.seriesName %>"></a>
          </div>
          <a href="/seriess/<%= series.id %>"><h2 class="title is-2"><%= series.seriesName %></h2></a>
        </div>
      </div>
    <% })) %>
  </div>
</div>
